::-webkit-scrollbar{
    display: none;
}
body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 600px;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chat-box {
    max-height: 99vh;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.message.hawra {
    align-items: flex-start;
}

.message.raj {
    align-items: flex-end;
}

.message .text {
    max-width: 80%;
    padding: 10px;
    border-radius: 800px;
    margin-bottom: 5px;
    position: relative;
    word-wrap: break-word;
}

.message.hawra .text {
    background-color: #2c2c2c;
    text-align: left;
    color: #e0e0e0;
}

.message.raj .text {
    background-color: #286cc6;
    text-align: right;
    color: #e0e0e0;
}

.message .time {
    font-size: 0.8rem;
    color: #999;
}

.day-divider {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
    color: #999;
    background: #ffffff05;
    border-radius: 100px;
}

@media (max-width: 600px) {
    .container {
        padding: 10px;
    }

    .message .text {
        max-width: 100%;
    }
}
